.list li {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 16px;
}
.name {
  font-weight: 500;
}
.actions {
  margin-left: auto;
}
.rename {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}
